:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    /* ### Neutral */
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-black-blue: hsl(234, 17%, 12%);
    --main-bg: var(--very-dark-blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: 'Gwendolyn', cursive;
}

body>* {
    transition: color 0.5s, background 1.0s ease;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
    background-image: url(https://images.pexels.com/photos/2055225/pexels-photo-2055225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em;
}


main h1 {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 100%;
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
}


main .countdown {
    display: flex;
    margin-bottom: 200px;
}

main .countdown>* {
    display: flex;
    flex-direction: column;
    margin-right: 2.5em;
}

main .countdown .count {
    display: block;
    width: 150px;
    height: 145px;
    color: var(--soft-red);
    background: var(--dark-desaturated-blue);
    border-radius: 10px;
    font-size: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 0 var(--very-dark-black-blue), 0 72px 0 rgba(0, 0, 0, 0.2) inset;
    position: relative;
    overflow-x: hidden;
}

main .countdown .count#sec {
    animation: anim 1s alternate linear infinite;
}

@keyframes anim {
    0%, 100% {
        box-shadow: 0 10px 0 var(--very-dark-black-blue), 0 72px 0 rgba(0, 0, 0, 0.2) inset;
    }
    100% {
        box-shadow: 0 10px 0 var(--very-dark-black-blue), 0 -72px 0 rgba(0, 0, 0, 0.2) inset;
    }
}

main .countdown .count::before {
    top: calc(50% - 7.5px);
    left: 0;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: var(--very-dark-black-blue);
    border-radius: 50%;
}

main .countdown .count::after {
    top: calc(50% - 7.5px);
    right: 0;
    transform: translateX(50%);
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: var(--very-dark-black-blue);
    border-radius: 50%;
}

main .countdown .count-txt {
    margin-top: 1em;
    color: var(--grayish-blue);
    font-size: 1.8em;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
}


@media screen and (max-width:800px) {
    main{
        width: 100%;
    }
    main .countdown {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin-bottom: 200px;
    }
    main .countdown>* {
        display: flex;
        flex-direction: column;
        margin-right: 0em;
    }
    main .countdown .count {
        display: block;
        width: 100px;
        height: 90px;
        color: var(--soft-red);
        background: var(--dark-desaturated-blue);
        border-radius: 10px;
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 0 var(--very-dark-black-blue), 0 45px 0 rgba(0, 0, 0, 0.2) inset;
        position: relative;
        overflow-x: hidden;
    }
    main .countdown .count::before {
        top: calc(50% - 7.5px);
        left: 0;
        transform: translateX(-50%);
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background: var(--very-dark-black-blue);
        border-radius: 50%;
    }
    main .countdown .count::after {
        top: calc(50% - 7.5px);
        right: 0;
        transform: translateX(50%);
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background: var(--very-dark-black-blue);
        border-radius: 50%;
    }
    main .countdown .count-txt {
        margin-top: 1.5em;
        color: var(--grayish-blue);
        letter-spacing: 2px;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    main{
        width: 100%;
    }
    main .countdown {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin-bottom: 200px;
    }
    main .countdown>* {
        display: flex;
        flex-direction: column;
        margin-right: 0em;
    }
    main .countdown .count {
        display: block;
        width: 80px;
        height: 60px;
        color: var(--soft-red);
        background: var(--dark-desaturated-blue);
        border-radius: 5px;
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 0 var(--very-dark-black-blue), 0 30px 0 rgba(0, 0, 0, 0.2) inset;
        position: relative;
        overflow-x: hidden;
    }
    main .countdown .count::before {
        top: calc(50% - 5px);
        left: 0;
        transform: translateX(-50%);
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: var(--very-dark-black-blue);
        border-radius: 50%;
    }
    main .countdown .count::after {
        top: calc(50% - 5px);
        right: 0;
        transform: translateX(50%);
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: var(--very-dark-black-blue);
        border-radius: 50%;
    }
    main .countdown .count-txt {
        margin-top: 1.5em;
        color: var(--grayish-blue);
        letter-spacing: 2px;
        text-align: center;
    }
}
